.sideBar {
    background-color: var(--light-gray);
    /* width: calc(100vw / 5); */
    height: 98vh;
    border-radius: 10px;
}

.sideBar_logo {
    padding-top: 20px;
    margin-left: 10px;
}

.sideBar_nav {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
    width: 260px;
}
.sideBar_nav a{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    margin: 20px 0px;
    margin-left: -10px;
    justify-content: flex-start;
    align-items: center;
    color: var(--white);
    font-family: "Lato", sans-serif;
    text-decoration: none;
    transition: .5s;
}

.sideBar_nav a:hover {
    background-color: var(--dark-gray);
    color: var(--dark-purple);
}

.sideBar_nav a:hover > img {
    transition: .5s;
    filter: invert(29%) sepia(95%) saturate(1134%) hue-rotate(247deg) brightness(78%) contrast(79%);
}

.sideBar_nav a img{
    margin-right: 20px;
    width: 18px;
    filter: invert();
}