<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/components/users/login/login.css' %}">
    <title>Document</title>
</head>

<body>
    <div class="login_header">
        <logo-component 
            redirect="/" 
            logoImgSrc="{% static '/images/logo_mc_files.png' %}">
        </logo-component>
    </div>

    <form action="/user/login/" method="post" class="login_form">
        <div class="login_form_header">
            <h1>Welcome Back!</h1>
            <p>
                Please login to continue
            </p>
        </div>
        {% csrf_token %}
        <div class="login_form_inputs">
            {{form.as_p}}
        </div>
        <button type="submit">
            <img src="{% static 'images/register_user.png' %}" />
            Login
        </button>
        <a href="/user/reset_password">Change Password</a>
    </form>

    <script src="{% static '/js/webComponents/logo/logoComponent.js' %}"></script>
</body>

</html>