.filesOnMc {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    color: var(--white);
}

.filesOnMc_content_header {
    padding-bottom: 30px;
    z-index: 100;
    width: 100vw;
    /* background-color: var(--light-gray); */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.filesOnMc_content_header h2 {
    color: var(--white);
    line-height: 120px;
    border-bottom: 3px solid var(--dark-purple);
    font-size: 50px;
    margin-bottom: 30px;
    font-family: "oswald", sans-serif;
}

.filesOnMc_content_header p {
    color: var(--white);
    font-size: 20px;
    margin-bottom: 30px;
    font-family: "latos", sans-serif;
}

.filesOnMc_content_pops {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
}

.filesOnMc_content_pops_pop {
    margin-top: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    z-index: 10;
    height: 180px;
    width: 200px;
}

.filesOnMc_content_pops_pop_img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    border-radius: 20px;
}

.filesOnMc_content_pops_pop_img img {
    width: 80px;
    height: 80px;
    padding: 20px;
    filter: invert();
}

.secure {
    background-color: #57cbaa;
}

.register {
    background-color: #9f57cb;
}

.upload {
    background-color: #597aea;
}

.filesOnMc_content_pops_pop p {
    color: var(--white);
    font-family: "latos", sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
    margin-top: 20px;
}