/* ---- import fonts ---- */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
/* font-family: "Oswald",sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
/* font-family: "Lato",sans-serif; */

/* ---- import reset css ---- */
@import url("/static/css/reset/reset.css");

:root {
    overflow-x: hidden;

    /* purples */
    --dark-purple: #7946a8;
    --medium-purple: #9263be;
    --light-purple: #ab87cd;

    /* grays */
    --dark-gray: #222222;
    --transparent-dark-gray: #222222f3;
    --medium-gray: #383838;
    --light-gray: #4d4a52;

    /* white */
    --white: #ffffff;
}

html {
    overflow-y: hidden;
    overflow-x: hidden;
}

body {
    background-color: var(--dark-gray);
}

*:focus {
    outline: none;
}

body {
    --sb-track-color: #232E33;
    --sb-thumb-color: #581f94;
    --sb-size: 5px;
}

*::-webkit-scrollbar {
    width: var(--sb-size);
}

*::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 3px;
}

*::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 3px;
}

@supports not selector(::-webkit-scrollbar) {
    body {
        scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
    }
}