{% load static %}

<div class="filesOnMc">
    <!-- <div class="filesOnMc_waveTop">
        <img src="{% static 'images/wave_top.svg' %}" alt="">
    </div> -->

    <div class="filesOnMc_content">
        <div class="filesOnMc_content_header">
            <h2>
                Manage Your Files with Mc Files.
            </h2>
            <p>
                Safely store and access your files from anywhere with Mc files.
            </p>
        </div>

        <div class="filesOnMc_content_pops">
            <div class="filesOnMc_content_pops_pop">
                <div class="filesOnMc_content_pops_pop_img register">
                    <img src="{% static 'images/register_user.png' %}" alt="">
                </div>
                <p>
                    Quickly sign up to efficiently manage and securely store your files with Mc Files
                </p>
            </div>
            <div class="filesOnMc_content_pops_pop">
                <div class="filesOnMc_content_pops_pop_img upload">
                    <img src="{% static 'images/upload.png' %}" alt="">
                </div>
                <p>
                    Easily upload any file type.
                </p>
            </div>
            <div class="filesOnMc_content_pops_pop">
                <div class="filesOnMc_content_pops_pop_img secure">
                    <img src="{% static 'images/lock.png' %}" alt="">
                </div>
                <p>
                    Download yours files wherever you are and when you want.
                </p>
            </div>
        </div>
    </div>

    <!-- <div class="filesOnMc_waveBottom">
        <img src="{% static 'images/wave_bottom.svg' %}" alt="">
    </div> -->
</div>