{% load static %}

<div class="welcome">
    <div class="welcome_image">
            _<img class="welcome_image-img" src="{% static 'images/logo_mc_files.png' %}" alt="">
    </div>

    <div class="welcome_textContent">
        <h1>
            Mc Files <br>
            The best and safest place <br>
            For your Files
        </h1>
        <p>
            Authentication, secure and upload and download your files. All of <br>
            it in one app
        </p>

        <button>
            Register
        </button>

    </div>

    <div class="welcome_video">
        <h1>
            Video Here
        </h1>
    </div>

    
</div>