.main_content {
    display: flex;
    margin-top: 10px;
    max-height: 100vh;
}

.content_area {
    overflow-y: scroll;
    overflow-x: hidden;
    width: calc(100% - 50px);
    margin-left: 10px;
}

.forms {
    width: 50%;
    border: 1px solid var(--white);
    border-radius: 10px;
    margin-left: 15px;
}

h2 {
    margin-left: 15px;
    font-family: "Oswald", sans-serif;
    color: var(--white);
    font-size: 30px;
    margin-bottom: 20px;
}

form {
    margin: 20px;
    display: flex;
    flex-direction: column;
}

form h3 {
    font-family: "Oswald", sans-serif;
    color: var(--white);
    font-size: 20px;
    margin-bottom: 20px;
}

input {
    padding: 15px;
    font-family: "lato", sans-serif;
    background-color: transparent;
    border: none;
    color: var(--white);
    border: 1px solid var(--white);
    border-radius: 10px;
}

button {
    cursor: pointer;
    font-family: "lato", sans-serif;
    padding: 15px;
    margin: 10px;
    border: none;
    border-radius: 10px;
    color: var(--white);
    transition: .5s;
    background-color: var(--dark-purple);
}

button:hover {
    transform: translateY(-5px);
    transition: .5s;
}