.register_header {
    width: 100vw;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register_form {
    height: calc(100vh - 200px);
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}


.register_form .register_form_header h1{
    color: var(--white);
    font-size: 40px;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 20px;
    font-family: "oswald", sans-serif;
}

.register_form .register_form_header p {
    margin-bottom: 50px;
    text-align: center;
    color: var(--white);
    font-size: 20px;
    font-weight: bolder;
    font-family: "latos", sans-serif;
}

.register_form .register_form_inputs p {
    display: flex;
    flex-direction: column;
    margin: 15px;
}

.register_form .register_form_inputs p label {
    color: var(--white);
    font-family: "latos", sans-serif;
    font-size: 18px;
    margin-bottom: 8px;
}

.register_form .register_form_inputs input {
    background-color: var(--dark-gray);
    border: 1px solid var(--dark-purple);
    color: var(--white);
    width: 320px;
    height: 10px;
    font-family: "latos", sans-serif;
    padding: 25px;
    font-size: 20px;
}

.register_form .register_form_inputs input:focus {
    outline: none !important;
    border: 1px solid var(--dark-purple);
}

.register_form button {
    width: 370px;
    margin-top: 30px;
    display: flex;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    height: 60px;
    color: var(--dark-purple);
    background-color: var(--dark-gray);
    border: 1px solid var(--dark-purple);
    cursor: pointer;
}

.register_form button img{
    width: 30px;
    margin-right: 20px;
    filter: invert();
}