<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/components/users/resetPassPages/resetPassSent.css' %}">
    <title>Document</title>
</head>
<body>
    <header>
        <logo-component redirect="/" logoImgSrc="{% static '/images/logo_mc_files.png' %}">
        </logo-component>
    </header>
    <div class="content">
        <h2>
            Instructions sended
        </h2>
        <p>
            If you gived the correct email, the instructions to change the password is in your mail box
        </p>
    </div>
    <script src="{% static '/js/webComponents/logo/logoComponent.js' %}"></script>
</body>
</html>