/* ---- import fonts ---- */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
/* font-family: "Oswald",sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
/* font-family: "Lato",sans-serif; */

/* ---- import logo css ---- */
@import url("/static/css/landingPage/logo/logo.css");

/* ---- import reset css ---- */
@import url("/static/css/landingPage/reset/reset.css");

/* ---- import header of landing page ---- */
@import url("/static/css/landingPage/welcomePage/header/header.css");

/* ---- import welcome section on landing page css ---- */
@import url("/static/css/landingPage/welcomePage/welcome/welcome.css");

/* ---- import files on mc_files section on landing page css ---- */
@import url("/static/css/landingPage/welcomePage/filesOnMc/filesOnMc.css");

/* ---- import register page css ---- */
@import url("/static/css/landingPage/register/register.css");

/* ---- import login page css ---- */
@import url("/static/css/landingPage/login/login.css");

:root {
    overflow-x: hidden;

    /* purples */
    --dark-purple : #7946a8;
    --medium-purple : #9263be;
    --light-purple : #ab87cd;

    /* grays */
    --dark-gray : #222222;
    --light-gray : #4d4a52;

    /* white */
    --white : #ffffff;
}
    

body {
    background-color: var(--dark-gray);
}