<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/components/dashboard/fileManager/fileAndFolderSearch.css' %}">
    <link rel="stylesheet" href="{% static 'css/components/dashboard/fileManager/fileAndFolderCreator.css' %}">
    <link rel="stylesheet" href="{% static 'css/components/dashboard/fileManager/fileManagerView.css' %}">
    <link rel="stylesheet" href="{% static 'css/components/dashboard/fileManager/fileManager.css' %}">

    <title>Mc Files</title>

</head>

<body>
    <div class="main_content">
        <div class="sideBar_area">
            <sidebar-component logoImgSrc="{% static '/images/logo_mc_files.png' %}"
                dashBoardImgSrc="{% static 'images/dashboard.png'%}"
                fileManagerImgSrc="{% static 'images/fileManager.png'%}" 
                foldersImgSrc="{% static 'images/folder.png'%}"
                filesImgSrc="{% static 'images/files.png'%}"
                actualPage="folders">
            </sidebar-component>
        </div>
        <div class="content_area">
            <header-component title="File Management" userImage="{% static 'images/user.png' %}"
                settingIcon="{% static 'images/setting.png' %}" logOutIcon="{% static 'images/logout.png' %}">
            </header-component>

            <div class="content_area_fileManagement">
                <div class="content_area_fileManagement_header">
                    <div class="content_area_fileManagement_header_title">
                        <h3>
                            All folders
                        </h3>
                    </div>

                </div>
                <div class="content_area_fileManagement_search">
                    <div class="content_area_fileManagement_search_content">
                        <div class="image">
                            <img src="{% static 'images/search.png' %}" alt="">
                        </div>
                        <input type="text" class="content_area_fileManagement_search-input" placeholder="Search">
                    </div>
                </div>
                <div class="content_area_fileManagement_manager">
                    {%if folders or files%}
                    <div class="content_area_fileManagement_manager_title_folders">
                        {% for folder in folders %}
                        <folder-component folderTitle="{{folder.folder_visible_name}}" folderId="{{folder.folder_id}}"
                            folderImgSrc="{% static '/images/folderIcon.png' %}"
                            deleteIcon="{% static '/images/delete.png' %}" editIcon="{% static '/images/edit.png' %}">
                        </folder-component>
                        {% endfor %}
                    </div>
                    {%else%}
                    <div class="content_area_fileManagement_manager_title_emptyFolders">
                        <img src="{% static 'images/nothing_found.png'%}" />
                        <h2>
                            Nothing Here ...
                        </h2>
                        <p>
                            Create folders or upload some files to see them here !
                        </p>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <script src="{% static '/js/webComponents/dashBoard/sideBar/sideBarComponent.js' %}"></script>
    <script src="{% static '/js/webComponents/logo/logoComponent.js' %}"></script>
    <script src="{% static 'js/webComponents/dashBoard/header/headerComponent.js' %}"></script>
    <script src="{% static 'js/webComponents/dashBoard/folder/folderComponent.js' %}"></script>
    <script src="{% static 'js/webComponents/dashBoard/functionalities/searchFilesFolders.js' %}"></script>

    <script>
    </script>
</body>

</html>