<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/components/dashboard/fileManager/fileAndFolderCreator.css' %}">
    <link rel="stylesheet" href="{% static 'css/components/dashboard/fileManager/fileManagerView.css' %}">
    <link rel="stylesheet" href="{% static 'css/components/dashboard/fileManager/fileManager.css' %}">

    <script src="{% static 'js/webComponents/dashBoard/functionalities/toggleFileAndFolderCreation.js' %}"></script>

    <title>Mc Files</title>

</head>

<body>
    <div class="main_content">

        <div class="sideBar_area">
            <sidebar-component logoImgSrc="{% static '/images/logo_mc_files.png' %}"
                dashBoardImgSrc="{% static 'images/dashboard.png'%}" folderImgSrc="{% static 'images/folder.png'%}"
                actualPage="folders">
            </sidebar-component>
        </div>
        <div class="content_area">
            <header-component
                title="File Management"
                userImage="{% static 'images/user.png' %}"
                settingIcon="{% static 'images/setting.png' %}"
                logOutIcon="{% static 'images/logout.png' %}"
            ></header-component>
    
            <div class="content_area_fileManagement">
                <div class="content_area_fileManagement_header">
                    <div class="content_area_fileManagement_header_title">
                            <h3>
                                Manage Files
                            </h3>
                    </div>
    
                    <div class="content_area_fileManagement_header_createArea">
                        <div class="content_area_fileManagement_header_createArea_dropDown">
                            <button class="toggle_dropDown">
                                <span> + </span> Add new
                            </button>
                            <div class="content_area_fileManagement_header_createArea_dropDown_options invisible">
                                <button id="call_fileUpload">
                                    <img src="{% static 'images/folder_create.png' %}" alt="">
                                    Upload files
                                </button>
                                <button class="call_folderCreator">
                                    <img src="{% static 'images/file_create.png' %}" alt="">
                                    Create folder
                                </button>
                            </div>
                        </div>
    
                        <div class="content_area_fileManagement_header_createArea_createFolder hidden">
                            <div class="content_area_fileManagement_header_createArea_createFolder_header">
                                <h3>
                                    Add new Folder
                                </h3>
                                <p>
                                    Create a new folder
                                </p>
                                <button class="close_folder_creation">
                                    x
                                </button>
                            </div>
    
                            <form action="/dashboard/folders/" class="content_area_fileManagement_header_createArea_createFolder_form" method="post">
                                {% csrf_token %}
                                <div class="content_area_fileManagement_header_createArea_createFolder_form_top">
                                    <label for="folder_input">Name</label>
                                    <input type="text" name="folder_input" id="folder_input" placeholder="Folder name"/>
                                </div>
                                <div class="content_area_fileManagement_header_createArea_createFolder_form_bottom">
                                    
                                    <button type="submit" class="create_folder">
                                        Create
                                    </button>
                                </div>
                            </form>
                        </div>
    
                        <div class="content_area_fileManagement_header_createArea_uploadFile">
    
                        </div>
                    </div>
    
                </div>
                <div class="content_area_fileManagement_search">
    
                </div>
                <div class="content_area_fileManagement_manager">
                    <div class="content_area_fileManagement_manager_title">
                        <h2>
                            {{folder_name}}
                        </h2>
                        <p>
                            {{warn_message}}
                        </p>
                    </div>
                    {%if folders%}
                    <div class="content_area_fileManagement_manager_title_folders">
                        {% for folder in folders %}
                        <folder-component folderTitle="{{folder.folder_name}}" folderId="{{folder.folder_id}}"
                            folderImgSrc="{% static '/images/folderIcon.png' %}">
                        </folder-component>
                        {% endfor %}
                    </div>
                    {%else%}
                    <div class="content_area_fileManagement_manager_title_emptyFolders">
                        <img src="{% static 'images/nothing_found.png'%}" />
                        <h2>
                            Nothing Here ...
                        </h2>
                        <p>
                            Create folders or upload some files to see them here !
                        </p>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>


    <script src="{% static '/js/webComponents/dashBoard/sideBar/sideBarComponent.js' %}"></script>
    <script src="{% static '/js/webComponents/logo/logoComponent.js' %}"></script>
    <script src="{% static 'js/webComponents/dashBoard/header/headerComponent.js' %}"></script>
    <script src="{% static 'js/webComponents/dashBoard/folder/folderComponent.js' %}"></script>
</body>
</html>