<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/dashboard/style.css' %}">
    <title>Mc Files</title>

    <style>
        .dashboard {
                background-color: var(--dark-gray);
                color: var(--dark-purple);
        }
    </style>

</head>
<body>
    <div class="sideBar_area">
        {%  include 'dashboard/sideBar.html' %}
    </div>
</body>
</html>