<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/components/dashboard/fileManager/fileAndFolderCreator.css' %}">
    <link rel="stylesheet" href="{% static 'css/components/dashboard/dashboard.css' %}">
    <title>Mc Files</title>

    <style>
        .dashboard {
            background-color: var(--dark-gray);
            color: var(--dark-purple);
        }
    </style>

</head>

<body>



    <div class="main_content">
        <div class="sideBar_area">
            <sidebar-component logoImgSrc="{% static '/images/logo_mc_files.png' %}"
                dashBoardImgSrc="{% static 'images/dashboard.png'%}" fileManagerImgSrc="{% static 'images/fileManager.png'%}"
                actualPage="dashboard">
            </sidebar-component>
        </div>

        <div class="content_area">
            <header-component title="Dashboard" userImage="{% static 'images/user.png' %}"
                settingIcon="{% static 'images/setting.png' %}" logOutIcon="{% static 'images/logout.png' %}">
            </header-component>
        </div>
    </div>

    <script src="{% static '/js/webComponents/dashBoard/sideBar/sideBarComponent.js' %}"></script>
    <script src="{% static '/js/webComponents/logo/logoComponent.js' %}"></script>
    <script src="{% static 'js/webComponents/dashBoard/header/headerComponent.js' %}"></script>


</body>

</html>