<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/components/users/user/userPage.css' %}">
    <title>Reset Password</title>
</head>
<body>
    <div class="main_content">
        <div class="sideBar_area">
            <sidebar-component logoImgSrc="{% static '/images/logo_mc_files.png' %}"
                dashBoardImgSrc="{% static 'images/dashboard.png'%}" fileManagerImgSrc="{% static 'images/fileManager.png'%}"
                actualPage="" foldersImgSrc="{% static 'images/folder.png'%}" filesImgSrc="{% static 'images/files.png'%}">
            </sidebar-component>
        </div>

        <div class="content_area">
            <header-component title="User settings" userImage="{% static 'images/user.png' %}"
                settingIcon="{% static 'images/setting.png' %}" logOutIcon="{% static 'images/logout.png' %}">
            </header-component>

            <h2>
                Change credentials
            </h2>
            <div class="forms">
    
                <form action="/user/" method="post">
                    <h3>
                        Set new Password
                    </h3>
                    <div class="inputs">
                        {% csrf_token %}
                        <input name="new_password" placeholder="New Password" />
                        <button type="submit">Submit new password</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="{% static '/js/webComponents/dashBoard/sideBar/sideBarComponent.js' %}"></script>
    <script src="{% static 'js/webComponents/dashBoard/header/headerComponent.js' %}"></script>
    <script src="{% static '/js/webComponents/logo/logoComponent.js' %}"></script>
</body>
</html>